/*css reset*/
 * { color:#000000; font-family: '微软雅黑',Verdana, Arial, Helvetica, sans-serif;}
a{outline:none; text-decoration:none;} 
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
img{border: 0;}
/*.wow{visibility: hidden;}*/


/*index*/
.loading{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #c3ecfd; display: none;
}
.loading h2{
	color: #fffbc5;
	margin-top: 50%;
	text-align: center;
	font-size: 20px;
}
.layout{
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	display: block;
	background: url(../images/bg.jpg) no-repeat top #9de508;
}
.layout1{
	background: url(../images/bg.jpg) no-repeat top green;
}
.header{
	height: 196px;
	position: relative;
}
.layout1 .header{
	margin-bottom: 50px;
}
.header .logo{
	position: absolute;
	right: 50%;
	margin-right: -96px;
	width: 193px;
	height: 142px;
	z-index: 1;	
}

.header .logo a{
	display: block;
	/*position: absolute;*/
}

.qiqiu{
	width: 56px;
	height: 104px;
	position: absolute;
	left:30px;
	-webkit-animation: qiqiu 10s infinite linear;;
	-o-animation: qiqiu 10s infinite linear;;
	animation: qiqiu 10s infinite linear;;
}
@-webkit-keyframes qiqiu{
	0%{
         top: 200px;
	}
	50%{
		top: 0;
	}
	100%{
         top: 200px;
	}
}
@-o-keyframes qiqiu{
	0%{
         top: 200px;
	}
	50%{
		top: 0;
	}
	100%{
         top: 200px;
	}
}
@keyframes qiqiu{
	0%{
         top: 200px;
	}
	50%{
		top: 0;
	}
	100%{
         top: 200px;
	}
}
.feiji{
	width: 149px;
	height: 39px;
	position: absolute;
	/*right: 0;
	top: 0;*/
	-webkit-animation:  feiji 20s infinite;
	-o-animation:  feiji 20s infinite;
	animation:  feiji 20s infinite;
}


@-webkit-keyframes feiji{
	0%{
		right: -145px;
		top: 200px;
	}
	100%{
		right: 640px;
		top: 50px;
	}
}
@-o-keyframes feiji{
	0%{
		right: -145px;
		top: 200px;
	}
	100%{
		right: 640px;
		top: 50px;
	}
}
@keyframes feiji{
	0%{
		right: -145px;
		top: 200px;
	}
	100%{
		right: 640px;
		top: 50px;
	}
}
.header .fengche{
	top: 250px;
	left: 0;
	
}
.fengche{
	width: 66px;
	height: 63px;
	position: absolute;
	-moz-animation: fengche 1s infinite linear;
	-webkit-animation: fengche 1s infinite linear;
	-o-animation: fengche 1s infinite linear;
	animation: fengche 1s infinite linear;
}
@-webkit-keyframes fengche{
    0%{
		-webkit-transform: rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@-o-keyframes fengche{
    0%{
		-o-transform: rotate(0deg)
	}
	100%{
	    -o-transform:rotate(360deg);
	}
}
@keyframes fengche{
    0%{
		transform: rotate(0deg)
	}
	100%{
		transform:rotate(360deg);
	}
}
.layout.layout1 .content{
	width: 468px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);

}
.layout.layout1 .content .wrap{
	padding: 0;
}
.content{
	background: #ffcd00;
	border-radius: 10px;
	padding: 8px;
	margin: 0 auto;
	margin-bottom: 96px;
}
.content .wrap{
	background: #fff;
	border: 8px solid #fffbc5;
	border-radius: 10px;
}
.index-nav{
	width: 450px;
	overflow: hidden;
}
.index-nav li{
    width: 220px;
    height: 200px;
    float: left;
}
.index-nav li a{
	display: block;
}
.index-nav li:nth-child(2n+1){
	margin-right: 10px;
}
.index-nav li:first-child,.index-nav li:nth-child(2){
	margin-bottom: 10px;
}
.copy  p{
     font-size: 13px;
     color: #fff;
     text-align: center;
}
.footer{
	background: #fffbc5;
	padding: 8px 0;
	border-top: 8px solid #ffcd00;
	border-bottom: 8px solid #ffcd00;
	margin-top: 22px;
}
.ft-nav{
	/*overflow: hidden;*/
	height: 50px;
	background: #fff;
}
.ft-nav li{
	width: 135px;
	height: 40px;
	float: left;
	margin: 5px 0 5px 20px;
	border-right: 5px;
}
.ft-nav li a{
	display: block;
}
/*家庭育儿*/

.top-bg{
	position: absolute;
	background: url(../images/bg1.jpg) no-repeat top;
	width: 640px;
	height: 460px;
	top: 0;
	z-index: -1;
}
.bottom-bg{
	position: absolute;
	background: url(../images/bg2.jpg) no-repeat top;
	height: 721px;
	width: 640px;
	bottom: 0;
	z-index: -1;
}
.bottom-bg .fengche{
	top: 88px;
	left: 0;
}
.nav{
	height: 51px;
	width:528px;
	margin: 0 auto; 
}
.nav ul{
	/*overflow: hidden;*/
}
.nav li{
	width: 120px;
	height: 45px;
	padding: 3px;
	float: left;
	margin-right: 8px;
	border-radius: 6px 6px 0px 0px;
	
}
.nav li:last-child{
	margin-right: 0;
}
.nav li a{
	display: block;
	width: 120px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px 7px 0px 0px;
}
.nav .yrcz{
	background-color: #a8ef08;
}
.nav .jtyr{
	background-color: #fe9c01;
}
.nav .yrjx{
	background-color: #ff247d;

}
.nav .zyxz{
	background-color: #b95bcd;

}
.nav .yrcz a{
	background-image: url(../images/14.png);
}
.nav .jtyr a{
	background-image: url(../images/15.png);

}
.nav .yrjx a{
	background-image: url(../images/16.png);

}
.nav .zyxz a{
	background-image: url(../images/17.png);


}
.nav .active{
	background-color: #ffcd00;
}
.nav .active a{
	background-color: #fff;
}
.content{
	width: 584px;
	position: relative;
	top: -3px;
	margin-bottom: 155px;	
}
.content .wrap{
	padding: 20px 20px 80px 20px;
}
.item .head{
	height: 48px;
	background: #f7f7f7;
	border: 1px solid #e2e2e2;
	position: relative;
	border-radius: 10px 10px 0 0;
}
.i-h-l{
	width: 50%;
	height: 50px;
	position: absolute;
	top: -1px;
	left: -1px;
}
.i-h-l img{
	border-radius: 12px 12px 0 0;
}
.i-h-l h2{
	border-radius: 12px 12px 0 0;
	font-size: 24px;
	width: 158px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #00aee5;
	color: #fff;

}
.i-h-r{
	width: 50%;
	position: absolute;
	height: 48px;
	line-height:48px;
	right: 0; 
	text-align: right;
	padding-right: 20px;
}
.i-h-r a{
	font-size: 18px;
	color: #999;
}
.item .body{
	margin-top: 16px;
	overflow: hidden;
}
.item .body ul{
	width: 105%;
	overflow: hidden;
}
.item .body ul li{
	width: 127px;
	height: 38px;
	line-height: 38px;
	border:1px solid #e2e2e2;
	background: #f7f7f7;
	float: left;
	margin: 4px 4px 0 0;
}
.item .body li a{
	display: block;
	text-align: center;
	font-size: 18px;
	color: #999;
}
.item .foot{
	margin: 20px 0 34px 0;
}
.item .foot li{
	height: 35px;
	overflow: hidden;
	line-height: 35px;
	font-size: 18px;
	padding-left:14px;
	background: url(../images/libg.jpg) no-repeat left; 
}
.item .foot li a{
	float: left;
	color: #666;
}
.item .foot li a:hover{
	text-decoration: underline;
}
.item .foot li span{
	float: right;
	font-size: 16px;
	color: #ccc;
}
.item .foot .img{
	margin-top: 20px;
}
.item .foot .img a{
	display: block;
}
/*内容详情*/
.detail{
	/*margin-bottom: 70px;*/
}
.c-top p,.c-top  a{
	font-size: 16px;
	color: #666;
	padding-bottom: 18px;
	margin-bottom: 20px;
}
.c-top p{
	border-bottom: 1px solid #e2e2e2;
}
.c-top .active,.c-top a:hover{
	color: #fe9c01;
}
.detail .head{
	border-bottom: 1px solid #e2e2e2;
	text-align: center;
}
.detail .head h2{
	font-size: 22px;
	margin: 10px 0 27px 0;
	color: #333;
	
}
.detail .head p{
	padding-bottom: 18px;
	font-size: 16px;
	color: #999;
}
.detail .body p{
	font-size: 18px;
	line-height: 26px;
	margin: 20px 0 28px 0;
	color: #666;
	text-indent: 2em;
}
.detail .body .img{
	width: 422px;
	height: 304px;
}
.detail .body .img a{
	display: block;
}
.detail .body h3{
	font-size: 18px;
	color: #333;
	margin: 35px 0 14px 0;
}

/*图片列表*/
.i-list ul{
	overflow: hidden;
}
.i-list li{
    width: 236px;
    float: left;
    margin-top: 20px;
}
.i-list li:nth-child(2n+1){
	margin-right: 56px;
}
.i-list li .img{
	width: 234px;
	height: 128px;
	border: 1px solid #e2e2e2;
}
.i-list li .img a{
	display: block;
}
.i-list li h3{
	height: 30px;
	line-height: 30px;
	position: relative;
	top: -1px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background: #999;
	margin-bottom: 3px;
}
.i-list .active h3,.i-list li:hover h3{
	background: #fe9c01;
}
.i-list li p,.i-list li span{
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #666;
}
.ft-page{
     height: 40px;
     line-height: 40px;
     margin: 30px 0 20px 0;
     overflow: hidden;

}
.ft-page li{
     margin-right: 10px;
     float: left;
}
.ft-page li .active,.ft-page li a:hover{
	background: #fe9c01;
	border-color: #fe9c01;
}
.ft-page li a{
	height: 38px;
	border: 1px solid #e2e2e2;
	display: inline-block;
	padding: 0 8px;
	font-size: 18px;
	color: #666;
}
.con-ft p{
    font-size: 16px;
    color: #999;
}
.con-ft p span{
	color: #fe9c01;
}
/*文字列表*/


.t-list li{
	height: 111px;
	padding: 20px 0;
	border-bottom: 1px solid #e2e2e2;
	overflow: hidden;
	position: relative;
}
.t-list-l{
   width: 148px;
   height: 111px;
   position: absolute;
   top: 20px;
   left: 0; 
}
.t-list-l a{
	display: block;
}
.t-list-r{
	float: left;
	margin-left: 168px;
}
.t-list-r strong a{
    font-size: 20px;
    color: #333;
}
.t-list-r p{
	font-size: 16px;
	color: #999;
	margin: 10px 0;
}
.t-list-r>a{
	font-size: 18px;
	color: #666;
}
.t-list-r a:hover{
	text-decoration: underline;
}
/*幼儿成长*/
.klxx{padding-bottom: 40px;}
.klxx .hd{
	margin-top: 20px;
	overflow: hidden;
}
.klxx .hd li{
	width: 50%;
	height: 40px;
	line-height: 38px;
	float: left;
	text-align: center;
	background: #f7f7f7;
}
.klxx .hd li a{
	
	height: 38px;
	border:1px solid #e2e2e2;
	display: block;
	color: #999;
	font-size: 18px;
}

.klxx .hd .active,.klxx .hd a:hover{
	color: #00aee5;
	background: #fff;
}
.klxx .bd{
	overflow: hidden;
	
}
.klxx .bd li{
	margin-top: 20px;
	height: 104px;
	overflow: hidden;
	position: relative;
}
.klxx .bd-l{
	width: 163px;
	height: 96px;
	position: absolute;
	top: 0;
	left: 0;
}
.klxx .bd-l a{
	display: block;
}
.klxx .bd-r{
	padding-left: 184px;
}
.klxx .bd-r a:hover{
	text-decoration: underline;
}
.klxx .bd-r strong a{
	color: #00aee5;
	font-size: 20px;
}

.klxx .bd-r h3{
	/*margin: 2px 0;*/
}
.klxx .bd-r h3 a{
	color: #999;
	font-size: 18px;
}
.klxx .bd-r p,.klxx .bd-r p span{
	color: #666;
	font-size: 16px;
}
.nltz{margin-top: 20px;overflow: hidden;padding-bottom: 40px;}
.nltz ul{
	width: 105%;
	overflow: hidden;
}
.nltz ul li{
	width: 160px;
	float: left;
	margin-right: 24px;
	text-align: center;
}
.nltz ul li:last-child{
	margin-right: 0;
}
.nltz ul li a{
	display: block;
}
.nltz ul li p{
	margin-top: 10px;
	font-size: 18px;
	color: #666;
}
.jygy .side h2{
	margin: 20px 0 10px 0;
	height: 51px;
	text-align: center;
	background: #fa9509;
}
.jygy .side ul{
	margin-bottom: 40px;
	overflow: hidden;
	
}
.jygy .side ul li{
	width: 160px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: #f2f2f2;
	float: left;
	margin-right: 24px;
}
.jygy .side ul li:last-child{
	margin-right: 0;
}
.jygy .side ul li a{
	height: 46px;
	display: block;
	font-size: 18px;
	color: #999;
	font-weight: bold;
}
.jygy .side ul .active,.jygy .side ul  a:hover{
	background: #fa9509;
	color: #fff;
}
.czgz ul{
	margin-top: 20px;
	overflow: hidden;
	
}
.czgz ul li{
	width: 250px;
	float: left;
	margin-right: 28px;
	text-align: center;
}
.czgz ul li:last-child{
	margin-right: 0;
}
.czgz ul li p{
	font-size: 18px;
	color: #666;
	margin-top: 5px;
}
/*资源下载*/
.audio-s{
	padding-bottom: 40px;
}
.audio-s ul{
	overflow: hidden;
	
}
.audio-s ul li{
	width: 210px;
	padding-left: 22px;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	background: url(../images/music1.png) no-repeat left;
	float: left;
}
.audio-s ul li:nth-child(2n+1){
	margin-right: 60px;
}
.audio-s ul li a{
   font-size: 18px;
   color: #666;
}
.audio-s ul li:hover,.audio-s ul .active{
   background-image: url(../images/music2.png);
}
.audio-s ul li:hover a,.audio-s ul .active a{
	color: #fe9c01;
}
.img-s{
  overflow: hidden;
  padding-bottom: 40px;
}
.img-s ul{
	width: 110%;
	overflow: hidden;
}
.img-s ul li{
	width: 148px;
	float: left;
	margin: 20px 40px 0 0;
	text-align: center;
}
.img-s li img{
	border:1px solid #e2e2e2;
}
.img-s li p{
	font-size: 18px;
	color: #666;
}
.img-s .active img,.img-s li:hover img{
	border:1px solid #fe9c01;
}
.img-s .active p,.img-s li:hover p{
	color: #fe9c01;
}

.video-s{
  overflow: hidden;
}
.video-s ul{
	width: 110%;
	overflow: hidden;
}
.video-s ul li{
	width: 148px;
	float: left;
	margin: 20px 40px 0 0;
	text-align: center;
}
.video-s li .img{
	border:1px solid #e2e2e2;
	position: relative;
	padding: 3px;
}
.video-s li img{
   display: block;
}
.video-s li .play{
	background-image: url(../images/play1.png);
	background-repeat: no-repeat;
	background-position: top;
	width: 40px;
	height: 41px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 50%;
	margin-right: -20px;
}
.video-s li p{
	font-size: 18px;
	color: #666;
}
.video-s .active .img,.video-s li:hover .img{
	border:1px solid #fe9c01;
}
.video-s .active .play,.video-s li:hover .play{
	background-image: url(../images/play2.png);
}
.video-s .active p,.video-s li:hover p{
	color: #fe9c01;
}
